
{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
   
{% block content %}
    
    
    <div class="container mt-2 ">
        <div class="row mb-3" style="height:455px;box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);">
          <div id="imageSlider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for post in posts|slice:":5" %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" style="max-height: 450px;">
                    <div class="d-flex">
                      <div class="w-50 d-flex justify-content-center align-items-center">
                        <div class="p-3">
                          <p class="display-2" style="font-family: cursive;">{{post.post_name}}</p>
                          <p class="display-6 text-end" style="font-family: cursive;">written by: <span class="text-danger text-decoration-underline">{{post.user}}</span></p>
                        </div>
                      </div>
                      <div class="w-50">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="d-block w-100 " alt="Image" >
                        {% else %}
                        <p class=" text-muted mt-5">{{post.post_desc}}</p>
                    {% endif %}
                      </div>
                    </div>
                       
                    </div>
                {% endfor %}
            </div>
        </div>
        
        </div>
        <!---End of div after the slider-->

        <div class="row mb-2 mt-5">
            <div class="col-12" >
              {% if request.user.is_authenticated %}
                <p>
                    
                    <button class="btn btn-outline-success waves-effect" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="box-shadow: 10px 10px 15px  rgba(0, 0, 0, 0.5);">
                   Create a post..
                    </button>
                  </p>

              {% endif %}
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body p-2" style="border:1px solid  black;">
                    
                    
                        <form>
                            
                           
                            <div class="form-group">
                              
                              <textarea class="form-control" id="description" rows="3" name="description" placeholder="Enter the content"></textarea>
                            </div>
                            <div class="custom-file mt-3">
                                <a class="custom-file-label btn btn-warning" for="validatedCustomFile">Add images if any...</a>
                            
                                <input type="file" class="custom-file-input ps-5" id="validatedCustomFile" placeholder="Choose" accept=".jpg, .jpeg">
                                
                            </div>
                            <button type="submit" class="btn btn-outline-dark mt-2">Submit</button>
                          </form>
                    
                    </div>
                  </div>
            </div>
        </div>

        <!---Add post form ended-->

        <div class="row mt-5">

          <p class="display-3 mb-5" >Trending Posts</p>

          <!--post-->
          {% for post in posts %}
          <div class="col-3 p-4 shadow-lg  mb-5 bg-body rounded" style="min-height:400px">
            <div class="card custom" style="width: 18rem;">
              <img class="card-img-top" src="{% if post.image != '' %}{{post.image.url}} {% else %} {% static 'images/default.jpg' %} {% endif %}" alt="Card image cap" style="height:200px;">
              <div class="card-body " >
                <p class="card-title fw-bolder">{{post.post_name}}</p>
                <p class="card-text">{{post.post_desc|slice:':100'}}</p>
                <h5 class="card-title text-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill text-dark mx-1" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg>
                  {{post.user}}
                </h5>
                <div class="text-center">
                  <a href="{% url 'post' post.id %}" class="btn btn-outline-secondary mt-3">View post</a>
                </div>
                
              </div>
            </div>
          </div>



          {% empty %}


          <div >
            <p class="display-2"> No posts yet</p>
          </div>
          {% endfor %}

    

        </div>

    </div>






{% endblock %}