{% extends 'base.html' %}
    {% block title %} Post {% endblock %}
    
{% block content %}
    
    <div class="header d-flex p-2 bg-dark">
        <div class="w-25 p-2">
          <img src="logo.png" style="min-width: 220px;height:85px;">
        </div>
        <div class="w-75 p-2 mt-3">
            <nav class="navbar navbar-expand-lg  bg-dark ">
                <div class="container-fluid">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="btn btn-outline-light me-5 " aria-current="page" href="#">Home</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="btn btn-outline-light me-5 " aria-current="page" href="#">Sign In</a>
                      </li>

                      <li class="nav-item">
                        <a class="btn btn-outline-light me-5 " aria-current="page" href="#">Sign Up</a>
                      </li>

                      
                      <li class="nav-item">
                        <a class="btn btn-outline-light me-5 " aria-current="page" >Hello User</a>
                      </li>

                      <li class="nav-item">
                        <a class="btn btn-outline-light me-5 " aria-current="page" href="#">Log out</a>
                      </li>
                     
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search  posts..." aria-label="Search">
                      <button class="btn btn-outline-success " type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div> 
    </div>

<!--post page content-->

<div class="container">
    <div class="row">
        <div class="col-12 m-3 text-center">
            <h1>Heading of the post </h1>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row m-0 p-3">
        <!--post image-->
        <div class="col-12 m-0 p-0">
            <img src="sample.jpg" class="w-100 p-2" style="height: 100vh; box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5), 0 -10px 15px rgba(0, 0, 0, 0.5); border-radius: 15px;">
        </div>
        
        </div>
</div>
<div class="container">

    <!--post description-->
    <div class="row">
       
        <div class="col-12 mt-5">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, qui ad veniam laudantium ipsam laborum, perspiciatis, unde porro explicabo odit accusantium inventore libero. Temporibus sapiente officia, placeat nemo nisi inventore.</p>
        </div>

        <!--comment section-->
        <div class="col-12 p-3 m-3 ">
<p class="display-4">Comments</p>


            <form class="w-50  p-3" style="border:1px solid black;">
               
                


                  <div class="mb-3">
              
                    <textarea class="form-control" id="inputComment" rows="3" placeholder="Add a comment"></textarea>
                  </div>

                  <div class="mb-3 d-flex ">
                    <span class="fa fa-star  main-page"></span>
                    <span class="fa fa-star  main-page"></span>
                    <span class="fa fa-star  main-page" ></span>
                    <span class="fa fa-star main-page"></span>
                    <span class="fa fa-star main-page"></span>
                </div>
                
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>



              <div class="p-3 m-2 d-flex  mt-5" style="border-top:2px solid black;">


                <div class="w-75" >
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cupiditate eius necessitatibus rem blanditiis repellat ipsa sed. Soluta unde molestiae ex quibusdam tenetur, quaerat praesentium labore delectus fugiat esse optio.</p>
                  <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill text-dark mx-2" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg> Username</p>
                </div>
               <div class="d-flex">

                <a data-bs-toggle="modal"  data-bs-target="#updateCommentModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square text-info" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                </a>

                <a data-bs-toggle="modal"  data-bs-target="#logoutModal">
                      
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg mx-2 text-danger" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
                </a>
               </div>
              </div>

             

              <p class="display-6 m-3">No comments yet.. </p>

        </div>
    </div>
</div>
    <!---footer-->
<div class="container-fluid bg-dark">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-evenly">
        <p class=" mx-5 p-1 text-white">© Copyrighted to @admamzzcorp</p>
        <p class=" mx-5 p-1 text-white"> Any enquires?? email to admamzzdevs@gmail.com</p>
      </div></div>
    </div>
  </div>
   



  
<!-- comment delete Modal-->

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Are you sure want to delete the comment?</h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-footer">
        <a class="btn btn-danger" >Yes</a>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
       
      </div>
    </div>
  </div>
</div>




  
<!-- comment update Modal-->

<!-- Modal -->
<div class="modal fade" id="updateCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header text-white">Update Comment</h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form class="  p-3" style="border:1px solid black;">
               
                


          <div class="mb-3">
      
            <textarea class="form-control" id="inputComment" rows="3" placeholder="Add a comment"></textarea>
          </div>
  
          <div class="mb-3 d-flex ">
            <span class="fa fa-star   text-white" ></span>
            <span class="fa fa-star   text-white"></span>
            <span class="fa fa-star   text-white"></span>
            <span class="fa fa-star  text-white"></span>
            <span class="fa fa-star  text-white"></span>
        </div>
        
       
      </form>
  
      </div>
   

      <div class="modal-footer">
        <a class="btn btn-danger" type="submit">Update</a>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
       
      </div>
    </div>
  </div>
</div>



{% endblock %}
